.content {
 position: fixed;
 top: 70px;
 height: 100vh;
 width: calc(100% - 60px);
 text-align: center;
 margin-left: 60px;
 background-size: cover;
 background-color: rgb(230, 229, 229);
 margin-right: 150px;
 overflow: scroll;
}

.content {
 display: block;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly;
}

.content {
 flex: 1 1 180px;
}

.card_area {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-around;
 padding: 60px 10px 30px 10px;
}

.card_area .card {
 min-height: 150px;
 min-width: auto;
 border-radius: 15px;
 background-color: #fff;
 margin-bottom: 15px;
}

.card_area .cardheader {
 width: auto;
 text-align: center;
 font-size: 16px;
 font-weight: 700;
 border-radius: 5px;
 color: #fff;
 background-color: #43415d;
}

.card_area .cardheader.cardBody {
 width: auto;
}
