.content {
 position: fixed;
 top: 70px;
 height: 100vh;
 width: calc(100% - 70px);
 text-align: center;
 margin-left: 60px;
 background-size: cover;
 background-color: rgb(230, 229, 229);
 margin-right: 150px;
 overflow: scroll;
}

.content {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
 justify-content: space-evenly;
}

.content {
 flex: 1 1 180px;
}
